
  .paragraph {
    display:inline-block;
    border:2px solid #ffefd0;
    background:#F9F8F4;
    padding:40px;
    text-align: justify;
    margin-left: 30%;
    margin-right: 30%;

}

h1 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 100px;
}

.col-6 {
  text-align: justify;
  font-style: italic;
  background-color: #F9F8F4;
  padding: 50px;
  border: 2px solid black;
}

.col-3 {
  background-color: white;
}

.container-fluid{
  background-color: white;
  margin: 0px;
}

#bottom-row{
  height: 100px;
}

.container{
  text-align: justify;
  font-style: italic;
  background-color: white;
}

.row{
  padding-left: 30%;
  padding-right: 30%;
  background-color: #F9F8F4;
  padding-top: 70px;
  padding-bottom: 70px;
}

p{
  padding: 50px;
  font-size: 1.3em;
}